.orderStyle{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: antiquewhite;
}

.orderCustomer, .orderStatus, .orderTotal, .orderDate{
    border: none;
    border-radius: 10px;
    height: 5vh;
    width: 15vw;
    background-color: antiquewhite;
    text-align: center;
    outline: none;
    transition: 1s;
}

.orderCustomer:hover, .orderStatus:hover, .orderTotal:hover, .orderDate:hover{
    border:none;
    border-radius: 10px;
    height: 5vh;
    width: 15vw;
    background-color: #09dbe3;
    transition: 1s;
}

.orderBtn{
    width: 5vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    background-color: antiquewhite;
    transition: 1s;
}

.orderBtn:hover{
    background-color: rgba(253, 69, 69, 0.66);
    transition: 1s;
}

.orderBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #e0e45a;
    width: 20vw;
    height: 38vh;
    margin: 5vh auto;
    border-radius: 10px;
}

.orderUpdate{
    margin: 3vh auto;
    border-radius: 5px;
    border: none;
    width: 8vw;
    height: 4vh;
    transition: 1s;
    background-color: antiquewhite;
}

.orderDelete{
    border-radius: 5px;
    width: 8vw;
    height: 4vh;
    border: none;
    transition: 1s;
    background-color: antiquewhite;
}

.orderUpdate:hover, .orderDelete:hover{
    background-color: #f6c183;
    transition: 1s;
}

.orderTotal::-webkit-outer-spin-button,
.orderTotal::-webkit-inner-spin-button,
.orderCustomer::-webkit-outer-spin-button,
.orderCustomer::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}