
.customerStyle{
    /*margin-top: 2vh;*/
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: antiquewhite;
}

.customerName, .customerEmail, .customerNumber{
    border: none;
    border-radius: 10px;
    height: 5vh;
    width: 15vw;
    background-color: antiquewhite;
    text-align: center;
    outline: none;
    transition: 1s;
}
.customerName:hover, .customerEmail:hover, .customerNumber:hover{
    border:none;
    border-radius: 10px;
    height: 5vh;
    width: 15vw;
    background-color: #09dbe3;
    transition: 1s;
}

.customerBtn{
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    background-color: antiquewhite;
    transition: 1s;
}

.customerBtn:hover{
    background-color: rgba(253, 69, 69, 0.66);
    transition: 1s;
}


.customerBlock{
    /*background-color: #f1d6a0;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #e0e45a;
    width: 20vw;
    height: 35vh;
    margin: 5vh auto;
    border-radius: 10px;
}

.customerUpdate{
    margin: 3vh auto;
    border-radius: 5px;
    border: none;
    width: 8vw;
    height: 4vh;
    transition: 1s;
    background-color: antiquewhite;
}

.customerDelete{
    border-radius: 5px;
    width: 8vw;
    height: 4vh;
    border: none;
    transition: 1s;
    background-color: antiquewhite;
}

.customerUpdate:hover, .customerDelete:hover{
    background-color: #f6c183;
    transition: 1s;
}

.customerNumber::-webkit-outer-spin-button,
.customerNumber::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}


